[ req ]
default_bits            = 2048
default_md              = sha256
utf8                    = yes
string_mask             = utf8only
prompt                  = no
distinguished_name      = server_dn             # DN template
req_extensions          = server_reqext         # Desired extensions

[ server_dn ]
CN={{ x509_dn_cn }}
{% if x509_dn_ou is defined %}
OU={{ x509_dn_ou }}
{% endif %}
O={{ x509_dn_o }}
L={{ x509_dn_l }}
ST={{ x509_dn_st }}
C={{ x509_dn_c }}

[ server_reqext ]
basicConstraints = CA:FALSE
keyUsage                = critical,digitalSignature,keyEncipherment
extendedKeyUsage        = {{ x509_key_usage|join(',') }}
subjectKeyIdentifier    = hash
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ x509_dn_cn }}
{% if x509_sans is defined %}
{% for san in x509_sans %}
DNS.{{ loop.index + 1 }} = {{ san }}
{% endfor %}
{% endif %}
