[ req ]
default_bits            = 2048
default_md              = sha256
utf8                    = yes
string_mask             = utf8only
prompt                  = no
distinguished_name      = server_dn             # DN template
req_extensions          = server_reqext         # Desired extensions

[ server_dn ]
CN={{ x509.dn.cn }}
O={{ x509.dn.organization }}
L={{ x509.dn.city }}
ST={{ x509.dn.state }}
C={{ x509.dn.country }}

[ server_reqext ]
basicConstraints = CA:FALSE
keyUsage                = critical,digitalSignature,keyEncipherment
extendedKeyUsage        = {{ x509.csr.key_usage|join(',') }}
subjectKeyIdentifier    = hash
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ x509.dn.cn }}
{% if x509_sans is defined %}
{% for san in x509_sans %}
DNS.{{ loop.index + 1 }} = {{ san }}
{% endfor %}
{% endif %}
