{% if x509_src.key is defined %}
{{ lookup('file', x509_local_cert_store + x509_src.key) }}
{% else %}
{{ __key.stdout }}
{% endif %}
{{ lookup('file', x509_local_cert_store + x509_src.cert) }}
{% if x509_src.chain is defined %}
{% for cacert in x509_src.chain %}
{{ lookup('file', x509_local_cert_store + cacert) }}
{% endfor %}
{% endif %}
