{{ lookup('file', playbook_dir + '/' + key) }}
{{ lookup('file', playbook_dir + '/' + cert) }}
{% if chain is defined %}
{% for cacert in chain %}
{{ lookup('file', playbook_dir + '/' + cacert) }}
{% endfor %}
{% endif %}
